  
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/users/register" method="POST">
		Username:
		<input type="text" name="username" placeholder="Username">
		Password:
		<input type="password" name="password">
		Image URL:
		<input type="text" name="image" placeholder="Image URL">
		<button>Register</button>
	</form>

</body>
</html>