<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/users/logout" method="GET">
		<button>Log-Out</button>
	</form>
	<form action="/users/<%=@user.id%>/edit" method="GET">
		<button>Edit User Info</button>
	</form>

</body>
</html>