  
<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<form action="/users/register" method="POST">
		Username:
		<input type="text" name="username" placeholder="Username">
		Password:
		<input type="password" name="password">
		<button>Register</button>
	</form>

</body>
</html>